*, *::after, *::before {
  box-sizing: border-box;
}

html {
  color: white;
  background-image: url(darkroom.jpg);
  width: 100%;
  background-color: black;
  overflow-x: hidden;
  position: fixed;
}

/* Modal Styling */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal.maximize {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Icon Styling */
.icons {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  font-size: 10;
  color: white;
  margin-top: 20px;
}

.sections {
  font-size: 10pt;
  font-weight: 800;
}


/* Start Bar Styling*/
.dropbtn {
  font-size: 10pt;
  font-weight: bold;
  bottom: 0%;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 10pt;
  background-color: #C0C0C0;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  bottom: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  
}

.dropbtn2 {
  background-color: rgb(72, 72, 203);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  bottom: 70%;
  left: 50%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
}
